img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* PRELOADER CSS */

.preloader-single {
  background: #fff;
  width: 100%;
  height: 350px;
  padding: 15px;
  display: block;
  margin: auto;
}
/* CSS Document */

/*Preloader Demo */

/******************************************************************************/
/******************************************************************************/

#loading {
  background-color: #122737;
  height: 50%;
  width: 30%;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}

/*Preloader Demo 2*/

/******************************************************************************/
/******************************************************************************/

#ts-preloader-absolute02 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
.tsperloader2 {
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-left: 5px solid #03a9f4;
  border-right: 5px solid #03a9f4;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
}
#tsperloader2_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}
#tsperloader2_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#tsperloader2_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#tsperloader2_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes animate {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes animate {
  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.tsperloader19 {
  width: 26px;
  height: 26px;
  background-color: #03a9f4;
  margin-right: 20px;
  float: left;
  margin-bottom: 20px;
}
.tsperloader19:nth-child(2n + 0) {
  margin-right: 0px;
}
#tsperloader19_one {
  -webkit-animation: tsperloader19_one 1s infinite;
  animation: tsperloader19_one 1s infinite;
}
#tsperloader19_two {
  -webkit-animation: tsperloader19_two 1s infinite;
  animation: tsperloader19_two 1s infinite;
}
#tsperloader19_three {
  -webkit-animation: tsperloader19_three 1s infinite;
  animation: tsperloader19_three 1s infinite;
}
#tsperloader19_four {
  -webkit-animation: tsperloader19_four 1s infinite;
  animation: tsperloader19_four 1s infinite;
}
#tsperloader19_five {
  -webkit-animation: tsperloader19_five 1s infinite;
  animation: tsperloader19_five 1s infinite;
}
#tsperloader19_six {
  -webkit-animation: tsperloader19_six 1s infinite;
  animation: tsperloader19_six 1s infinite;
}
@-webkit-keyframes tsperloader19_one {
  50% {
    -ms-transform: translate(-100px, 46px) rotate(-179deg);
    -webkit-transform: translate(-100px, 46px) rotate(-179deg);
    transform: translate(-100px, 46px) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_one {
  50% {
    -ms-transform: translate(-100px, 46px) rotate(-179deg);
    -webkit-transform: translate(-100px, 46px) rotate(-179deg);
    transform: translate(-100px, 46px) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes tsperloader19_two {
  50% {
    -ms-transform: translate(100px, 46px) rotate(179deg);
    -webkit-transform: translate(100px, 46px) rotate(179deg);
    transform: translate(100px, 46px) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_two {
  50% {
    -ms-transform: translate(100px, 46px) rotate(179deg);
    -webkit-transform: translate(100px, 46px) rotate(179deg);
    transform: translate(100px, 46px) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes tsperloader19_three {
  50% {
    -ms-transform: translate(-100px, 0) rotate(-179deg);
    -webkit-transform: translate(-100px, 0) rotate(-179deg);
    transform: translate(-100px, 0) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_three {
  50% {
    -ms-transform: translate(-100px, 0) rotate(-179deg);
    -webkit-transform: translate(-100px, 0) rotate(-179deg);
    transform: translate(-100px, 0) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes tsperloader19_four {
  50% {
    -ms-transform: translate(100px, 0) rotate(179deg);
    -webkit-transform: translate(100px, 0) rotate(179deg);
    transform: translate(100px, 0) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_four {
  50% {
    -ms-transform: translate(100px, 0) rotate(179deg);
    -webkit-transform: translate(100px, 0) rotate(179deg);
    transform: translate(100px, 0) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes tsperloader19_five {
  50% {
    -ms-transform: translate(-100px, -46px) rotate(-179deg);
    -webkit-transform: translate(-100px, -46px) rotate(-179deg);
    transform: translate(-100px, -46px) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_five {
  50% {
    -ms-transform: translate(-100px, -46px) rotate(-179deg);
    -webkit-transform: translate(-100px, -46px) rotate(-179deg);
    transform: translate(-100px, -46px) rotate(-179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes tsperloader19_six {
  50% {
    -ms-transform: translate(100px, -46px) rotate(179deg);
    -webkit-transform: translate(100px, -46px) rotate(179deg);
    transform: translate(100px, -46px) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes tsperloader19_six {
  50% {
    -ms-transform: translate(100px, -46px) rotate(179deg);
    -webkit-transform: translate(100px, -46px) rotate(179deg);
    transform: translate(100px, -46px) rotate(179deg);
  }
  100% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
